<style>
<!-- Start css part of loading dialog code-->	
@import "compass/css3";
body { margin: 0; padding: 0; width: 100%; font-family: arial; } 
.loadingDialog { clear: both; position: relative; margin: 5% auto; top: 5%;  
.loading, .loadingShadow { position: absolute; left: 0; right: 0; height: 2em; margin: 0 auto; font-size: 1em; text-align: center; text-transform: uppercase; } 
.loading { color: #02bebb; z-index: 10; }
.loadingShadow { color: #000; z-index: 5; }
.letter, .ellipse { position: relative; padding-bottom:2em; display: inline-block; vertical-align: middle; width: .9em; }
.ellipse { width: .3em; }
.loading .letter, .loading .ellipse {
  animation-name: loadMotion;
  animation-duration: 996ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-backface-visibility: hidden;
}
.loadingShadow .letter, .loadingShadow .ellipse { text-shadow: 0 .15em 0 rgba(0, 0, 0, .5 );
  animation-name: loadShadow;
  animation-duration: 996ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-backface-visibility: hidden;
}
.letter01 { animation-delay: 0; }
.letter02 { animation-delay: 100ms; }
.letter03 { animation-delay: 200ms; }
.letter04 { animation-delay: 300ms; }
.letter05 { animation-delay: 400ms; }
.letter06 { animation-delay: 500ms; }
.letter07 { animation-delay: 600ms; }
.letter08 { animation-delay: 700ms; }
.letter09 { animation-delay: 800ms; }
.letter10 { animation-delay: 900ms; }
}
@keyframes loadMotion {
  from {
    bottom: 0em;
  }  
  to {
   bottom: .5em;
  }
}
@keyframes loadShadow {
  from {
    text-shadow: 0 .15em 0 rgba(0, 0, 0, .5 );
  }  
  to {
    text-shadow: 0 0 .25em rgba(0, 0, 0, 1 );
  }
}
<!-- End -->
<!-- Side Navigation Bar -->
	body {
    font-family: "Lucida Grande", sans-serif;
}
.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Body Paragraph border */
p {
    border: 1px solid powderblue;
    margin: 100px;
}
.description {
	text-align: center;
	color: skyblue;
	font-family: verdana;
}
/* BP end*/
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;margin:0}
.mySlides {display:none}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Number text (1/4 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


</style>
